h1 {
    text-align: center;
    background-color: blueviolet;
    font-size: 50px;
}

h2 {
    text-align: start;
    font-weight: bold;
    background-color: aqua;
    font-size: 30px;
}

h3 {
    text-align: end;
    font-size: 55px;
    color: red;
    background-color: cadetblue;
}

.lorem {
    font-size: 30px;
    font-style: italic;
    text-align: justify;
    color: blue;
    margin: 20px;
    line-height: 2;
}

.send {
    color: white;
    background-color: blue;

}

img {
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    background-color: black;
    padding: 10px;
    float: left;
    margin-right: 10px;
}

img:hover {
    transition: .3s;
    box-shadow: black 10px 10px 10px 10px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.side {
    font-size: 200px;
}